@model IMS.ViewModels.Auth.ResetPasswordViewModel;

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<p class="fw-bold">Reset password</p>

@using (Html.BeginForm("ResetPassword", "Auth", FormMethod.Post))
{
    <div class="form-group mb-3">
        <label asp-for="Password">New Password <span class="text-danger">*</span></label>
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password" })
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="ConfirmPassword">Confirm Password <span class="text-danger">*</span></label>
        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password" })
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>


    <div class="form-group mb-3">
        <a class="text-primary text-decoration-none" href="/auth/sign-in">You already have an account?</a>
    </div>

    <button type="submit" class="btn btn-primary w-100">Submit</button>
}