@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<figure class="text-center">
    <blockquote class="blockquote">
        <p><strong>Last Time Access:</strong> @ViewBag.LstTimeAccess</p>
    </blockquote>
</figure>