<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Home</div>
            <a class="nav-link" asp-controller="Home" asp-action="Blank">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <div class="sb-sidenav-menu-heading">System</div>
            <a class="nav-link" asp-controller="Permission" asp-action="PermissionManage">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-universal-access"></i></div>
                Permission
            </a>
            <a class="nav-link" asp-controller="Setting" asp-action="SettingList">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-gear"></i></div>
                Setting
            </a>
            <div class="sb-sidenav-menu-heading">Common</div>
            <a class="nav-link" href="/Posts">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-signs-post"></i></div>
                Post
            </a>
            <a class="nav-link" href="/blog">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-newspaper"></i></div>
                Blog
            </a>
            <div class="sb-sidenav-menu-heading">User</div>
            <a class="nav-link" asp-controller="User" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                User
            </a>
            <a class="nav-link" href="#">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-users-rectangle"></i></div>
                Class
            </a>
            <a class="nav-link" asp-controller="Contact" asp-action="List">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-file-contract"></i></div>
                Contact
            </a>
            <a class="nav-link" asp-controller="Subject" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-file-contract"></i></div>
                Subject
            </a>
        </div>
    </div>
</nav>
