@{
}
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Home</div>
            <a class="nav-link" asp-controller="Home" asp-action="Blank">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <div class="sb-sidenav-menu-heading">Common</div>
            <a class="nav-link" href="/Posts">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-signs-post"></i></div>
                Post Manage
            </a>
            <a class="nav-link" href="#">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-newspaper"></i></div>
                Blog Manage
            </a>
            <div class="sb-sidenav-menu-heading">User</div>
            <a class="nav-link" asp-controller="User" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                User Manage
            </a>
            <a class="nav-link" asp-action="Index" asp-controller="Class">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-users-rectangle"></i></div>
                Class Manage
            </a>
            <a class="nav-link" asp-controller="Contact" asp-action="List">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-file-contract"></i></div>
                Contact Manage
            </a>
        </div>
    </div>
</nav>