@{
}
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Home</div>
            <a class="nav-link" asp-controller="Home" asp-action="UserDashboard">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <div class="sb-sidenav-menu-heading">Common</div>
            <a class="nav-link" href="/Posts">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-signs-post"></i></div>
                Post
            </a>
            <a class="nav-link" href="#">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-newspaper"></i></div>
                Blog
            </a>
            <a class="nav-link" href="/issues">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-newspaper"></i></div>
                Issues
            </a>
            <a class="nav-link" href="/subjects">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-users-rectangle"></i></div>
                Subject
            </a>
            <div class="sb-sidenav-menu-heading">Class</div>
            <a class="nav-link" asp-action="Index" asp-controller="Class">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-users-rectangle"></i></div>
                Class Manage
            </a>

        </div>
    </div>
</nav>